@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --degrade-principal: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #F6F1F1;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cinza: #474646;
    --cinza-claro: #858585;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --azul: #002F52;
    --preto: #000000;
    --verde: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
    --azul-gradient: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% );
    --azul-claro: linear-gradient(132deg, rgba(127,198,220,1) 15%, rgba(36,163,190,1) 100%);
}

body {
    background-image: var(--azul-gradient);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    /* height: 100vw; */
}